__pycache__/
*.py[cod]
*$py.class
venv/
env/
*.egg-info/
neo4j/
nso/ncs/ssh
nso/ncs/ssl
nso/ncs/ncs.crypto_keys
nso/log
nso/packages/deploy-customers/load-dir/
nso/packages/traffic-engineering/load-dir/
scripts/*.json
*.json
*.log
.env
scripts/4.AINetwork_Agent/*.json
!scripts/result/*.json
containerlab/lab/sdn_controller/clab-SDN
.DS_Store 